[submodule "Assets/Renegadeware/ThirdParty/M8"]
	path = Assets/Renegadeware/ThirdParty/M8
	url = https://github.com/ddionisio/MateUnity.git
[submodule "Assets/Renegadeware/ThirdParty/M8Animator"]
	path = Assets/Renegadeware/ThirdParty/M8Animator
	url = https://github.com/ddionisio/MateAnimator.git
[submodule "Assets/Renegadeware/ThirdParty/M8AnimatorExt"]
	path = Assets/Renegadeware/ThirdParty/M8AnimatorExt
	url = https://github.com/ddionisio/MateAnimatorExt.git
[submodule "Assets/Renegadeware/ThirdParty/M8PlayMaker"]
	path = Assets/Renegadeware/ThirdParty/M8PlayMaker
	url = https://github.com/ddionisio/MatePlayMaker.git
[submodule "Assets/Renegadeware/ThirdParty/M8AnimatorPlayMaker"]
	path = Assets/Renegadeware/ThirdParty/M8AnimatorPlayMaker
	url = https://github.com/ddionisio/MateAnimatorPlayMaker.git
[submodule "Assets/Renegadeware/ThirdParty/M8SpreadsheetParser"]
	path = Assets/Renegadeware/ThirdParty/M8SpreadsheetParser
	url = https://github.com/ddionisio/MateSpreadsheetParser.git
